%header.pcHeader
  .headerInner
    .mainHeader
      %h1.m-h_icon
        = link_to root_path do
          = image_tag "logo.png"
        
      %ul.resultLists
            
      %ul.listsRight
        %li.listsRight__login
          = link_to destroy_user_session_path, method: :delete do
            ログアウト
        %li.listsRight__new
          = link_to users_path do
            マイページ
