%header.pcHeader
  .headerInner
    .mainHeader
      %h1.m-h_icon
        = link_to root_path do
          = image_tag "logo.png"
      
      %ul.resultLists
          
      %ul.listsRight
        %li.listsRight__login
          = link_to new_user_session_path do
            ログイン
        %li.listsRight__new
          = link_to new_user_registration_path do
            新規会員登録
  
