.main {
  background-color: #f8f8f8;
  img {
    width: 100%;
  }
}

.visual {
  background-image: image-url('bg-mainVisual-pict_pc2.png');
  width:100%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  .content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0 0 0;
    &__subtitle {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 60px;
      line-height: 1.2;
      color: #fff;
      font-weight: normal;
    }
    &__text {
      font-size: 18px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      line-height: 1.77778;
      color: #fff;
      margin: 16px 0 0 0;
    }
    &__btn {
      display: flex;
      margin: 24px 0 0 0;
      &__a-btn {
        width: 180px;
        margin-right: 10px;
      }
      &__g-btn {
        width: 180px;
      }
    }
    &__registration__btn {
      display: block;
      margin: 100px 0;
      line-height: 56px;
      text-align: center;
      font-weight: 600;
      transition: all ease-out .3s;
      font-size: 24px;
      line-height: 60px;
      text-decoration: none;
      width: 300px;
      background-color: rgb(234, 53, 45);
      color: rgb(255, 255, 255);
    }
  }
  .picture {
    position: absolute;
    top: 0;
    right: 210px;
  }
}

.top-introduction {
  h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
  }
  .x-gap {
    border-color: transparent;
  } 
  .x-container.max.width1 {
    display: flex;
    height: 350px;
  }
  .x-column.x-sm.x-2-3 {
    position: absolute;
    left: 50px;
    top: 100px;
    height: 350px;
    font-size: 22px;
    letter-spacing: 0.035em;
    p {
      margin: 0 0 1.5em;
    }
  }
  .x-column.x-sm.x-1-3 {
    position: absolute;
    right: 50px;
    top: 20px;
  }
  .x-img {
    width: 300px;
  }
}


.top-middle-dl {
  background-image: image-url('bg-topMiddleDl-pict.jpg');
  background-position: bottom right;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
  .inner {
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: left;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    &__subtitle {
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 18px;
      margin: 20px 0 30px;
      line-height: 1.5;
    }
    &__btn {
      display: flex;
      a {
        margin-right: 10px;
        width: 180px;
      }
    }
  }
}

.top-key-features {
  padding: 60px 20px;
  .subtitle {
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
    &::after {
      content: "";
      background-color: #3ccace;
      width: 70px;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .lists {
    text-align: center;
    display: flex;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    .list {
      width: 30%;
      margin: 16px 5% 0 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__pict {
        position: relative;
        margin-bottom: 20px;
        &__number {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: #3ccace;
          color: #fff;
        }
      }
      &__text {
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
        span {
          color: #3ccace;
        }
      }
      &__description {
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
    }
    .list__last {
      width: 30%;
      margin: 16px 0 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

