.my-content
  %section.my-user-icon
    =link_to  "#", class:"mypage-nav__list" do
      %figure.my-prof
        = image_tag "oldman_77.png", size: "100x80", alt: "顔写真"
      .boldd
        =current_user.nickname
      

  