.my-side
  .my-nav
    %ul.my-nav__list
      %li
        =link_to "#", class:"my-nav__list__item" do
          プロフィール
          %i.icon-arrow
            
      %li
        =link_to  "#", class:"my-nav__list__item" do
          コミュニティ
          %span.my-nav__number
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          やることリスト
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          いいね！一覧
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          出品する
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          出品した商品-出品中
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          出品した商品-取引中
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          出品した商品-売却済み
          %i.icon-arrow
      %li
        =link_to  "#", class:"my-nav__list__item" do
          購入した商品-取引中
          %i.icon-arrow