html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
}

.default-container {
  background-color: rgb(228, 226, 226);
}

.mypage-container{
  margin: 40px auto 40px;
  width: 1120px;
  display: flex;
  
}


// サイド
.my-side{
  width: 280px;
  margin: 0 40px 0 0;
  height: 1252px;
  position: relative;

  .my-nav{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &__list{
      width:100%;
      height: 685px;
      padding-left: 0 !important;
      margin: 0 !important;
      border-style: solid;
      border-width: 0;
  
      &__item{
        display: inline-block;
        padding: 16px;
        font-size: 14px;
        width: 280px;
        text-decoration: none;
        color: #333333;
        line-height: 16px;
        background-color: #ffffff;
        height: 100%;
        
      }
  
  
      &__one{
        height: 96px;
        width:100%;
        padding-left: 0 !important;
        margin: 0 !important;
        li{
          width: 100%;
          height: 48px;
          border-top: 1px solid #eee;
        }
      }
      &__two{
        height: 336px;
        width:100%;
        padding-left: 0 !important;
        margin: 0 !important;
        li{
          width: 100%;
          height: 48px;
          border-top: 1px solid #eee;
        }
      }
    
      li{
        display: inline-block;
        width: 100%;
        height: 48px;
        border-top: 1px solid #eee;
      }
    }
    &__head{
      height: 16px;
      margin: 40px 0 8px 0  !important;
      font-size: 16px;
      font-weight: bold;
    }  
  
  }
}

.icon-arrow::before{
  content: ">";
  height: 14px;
  width: 14px;
  display: inline-block;
  float: right;
  font-weight: bold;
  color: #ccc;
}











// メイン

.my-content{
  width: 700px;
  height: 100%;
  float: right;

  .my-user-icon{
    background-image: image-url("sss.jpg");
    background-color:rgba(255,255,255,0.3);
    background-repeat:no-repeat;
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-blend-mode:lighten;
    width: 800px;
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mypage-nav__list{
    width: 100%;
    height: 111px;
    display: inline-block;
    text-decoration: none;
    .my-prof{
      height: 60px;
      width: 60px;
      margin: 0 auto;
      img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: inline-block;
        background-color: #f5f5f5;
      }
    }

  }

  .boldd{
    margin-top: 8px;
    height: 19px;
    margin-bottom: 0 !important;
    color: #333;
    text-align: center;
    line-height: 14px;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  }

  
  
}



